/flower/exp_analyzer/
.docker_password
*.backup
/flower/logs/
/flower/downloads/
/flower/command.txt
/flower/__pycache__/
/flower/run_history.txt
/flower/terminal_logs.txt
/yolov5_src/
/yolov5_env/
setup_env.sh
requirements.txt
vm-stoper.sh
/flower/yolov5/run_detect.py
/flower/100101001.txt
53101003.txt